In [1]:
import pandas as pd
import numpy as np

from stories.llm_wrappers import OllamaWrapper
from stories.prompts import make_rank_evaluation_prompt
from stories.metrics import rank

In [2]:
with open("evaluation_prompt_0.txt", "r") as fin:
    prompt = fin.read()

In [3]:
llm = OllamaWrapper("llama3.1-greedy:latest", temperature=0.0)

In [4]:
response_df = llm.generate_response_as_dataframe(
    prompt, ["rank", "Feature name"])
response_df

  rank            Feature name
0    0             Goal Scored
1    1         Pass Accuracy %
2    2       Ball Possession %
3    3  Distance Covered (Kms)
4    4              Free Kicks
5    5                 Corners
6    6           Blocked shots

In [5]:
response_df["rank"] = response_df["rank"].astype(int)
response_df

   rank            Feature name
0     0             Goal Scored
1     1         Pass Accuracy %
2     2       Ball Possession %
3     3  Distance Covered (Kms)
4     4              Free Kicks
5     5                 Corners
6     6           Blocked shots

In [6]:
explanations_df = pd.read_csv("explanations.csv").set_index("story_id")
explanations_story_df = explanations_df.loc[0]
explanations_story_df

,Feature name,Feature value,Shap value,Model coefficient,Average feature value,Feature description
story_id,,,,,,
0,Goal Scored,2,1.369433,2.603175,1.384615,Number of goals scored by the team during the ...
0,Offsides,0,-1.008332,0.969639,1.192308,Number of times the team was caught offside
0,Ball Possession %,59,-0.350419,-0.366783,49.538462,Percentage of ball possession by the team duri...
0,Pass Accuracy %,89,0.307003,0.305696,83.384615,Percentage of passes that successfully reached...
0,Distance Covered (Kms),97,0.260371,-0.323417,106.615385,Total distance covered by the team's players d...
0,Free Kicks,24,0.240641,0.112049,13.884615,Number of free kicks taken by the team
0,Corners,5,0.234285,1.307775,4.576923,Number of corner kicks taken by the team
0,Blocked,2,0.220169,-0.333510,3.538462,Number of shots that were blocked by the opponent

In [7]:
rank(explanations_df, response_df)

(np.float64(0.8666666666666666), np.float64(0.016666666666666666))